.banner{
   height: 400px;
}

.banner img{
   height: 400px;
   width: 100%;
   object-fit: cover;
   object-position: 67% 33%;
   position: relative;
}

.banner-article {
   position: absolute;
   top: 114px;
   right: 50px;
   width: 300px;
   margin: 2rem;
   padding: 2rem;
}

.banner-article-subtitle{
   font-size: 1.5rem;  
   font-weight: bold;
}

.banner-article-text{
   font-size: 1.2rem;
   margin-top: 20px;
}